body,
html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Helvetica Neue", serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header * {
    display: inline-block
}

header {
    background: black;
    position: fixed;
    width: 100%;

}

h1 {
    position: absolute;
    top: 20px;
    color: white;
    padding: 0;
    margin: 0;
    margin-left: 40%;
}

a {
    color: white;
}

header img {
    margin: 10px;
    margin-left: 20px;
    border-radius: 50%;
}

header nav {
    float: right;
    padding-top: 30px;
    margin-right: 30px
}

main {
    padding-top: 60px;

}

h2 {
    padding-top: 100px;
}

section.description img {
    padding: 30px;
    padding-top: 50px;
    float: left;
    width: 400px;
    height: 450px;
}

section.description {
    padding-left: 150px;
    padding-right: 150px;
    background-color: darkkhaki
}

.description-p2 {
    clear: both;
    padding: 30px;
    padding-top: 0;
}

section.relationship {
    padding-left: 150px;
    padding-right: 150px;
}

section.relationship img {
    padding: 30px;
    padding-top: 50px;
    float: right;
    width: 400px;
    height: 450px;
}

footer {
    clear: both;
    height: 80px;
    width: 100%;
    line-height: 80px;
    text-align: center;
    background-color: gray
}


